body {
  background-image: url(../assets/images/currency.jpg);
  background-repeat: repeat-y;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 15%;
  background-color: rgba(245, 245, 220, 0.9);
  margin-left: 2em;
  margin-top: 2em;
  border: solid 1em rgba(0, 0, 0, 0.87);
  border-radius: 1em;
  text-align: center;
  padding-top: 2em;
}
.container {
  margin: 1em;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
#errorDiv {
  display: none;
}
#header, #USD, #global {
  text-align: center;
  background-color: rgba(245, 245, 220, 0.9);
  margin: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  border: solid 1em rgba(0, 0, 0, 0.87);
  border-radius: 1em;
}
img {
  margin-bottom: 1em;
}
#convertUSD {
  margin-top: .4em;
}
#convertGlobal {
  margin-top: .4em;
}
h2 {
  text-align: center;
  margin: .5em;
}
#outputDropdown {
  height: 90%;
}
input {
  width: 50%;
  margin: .5em;
  text-align: center;
}
